<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Character Selection</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list *ngIf="loggedIn">
            <button menuClose ion-item *ngFor="let char of charArray | async" (click)="openPage($event, char)">
                {{char.name}}
            </button>
            <button menuClose ion-item (click)="openAddPage()">
                <ion-icon name="add"></ion-icon>
                Add Character
            </button>
        </ion-list>
        <p *ngIf="!loggedIn">Please sign in</p>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
